// mimic tailwind

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}

.underline {
  text-decoration: underline !important;
}

.hidden {
  display: none;
}
